<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="play-circle"></ion-icon>
      <ion-label>SERIE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>
      <ion-label>PELICULA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>JUEGO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>MUSICA</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
