<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>CLASH ROYALE</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Clash Royale, también conocido por su abreviatura CR, es un videojuego de estrategia en línea para dispositivos móviles, creado por la compañía finlandesa Supercell.​ Fue lanzado globalmente el 2 de marzo del 2016.​ Es un videojuego freemium de estrategia en tiempo real basado en los personajes de Clash of Clans.​</h2>
</ion-content>
